.person{
    background: bisque;
    height: 120px;
    width: 200px;
    margin-left: 500px;
}


.vl {
    border-left: 3px solid green;
    height: 30px;
}

.hl {
    border-top: 3px solid green;
    width: 500px;
}



.exMenu {
    left: 600px;
    top: 50px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#explore button{
    color: black;
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
}

#explore button:hover{background-color: darkcyan}

.show {display: block;}